@page
@model SignalRAssignment.Pages.Account.OrderModel
@{
    ViewData["Title"] = "Order Management";
}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a style="color: #00008b" class="nav-link" href="~/Account/Profile">Personal information</a>
            </li>
            <li class="nav-item active">
                <a style="color: #00008b" class="nav-link" href="~/Account/Order">My order</a>
            </li>
        </ul>
        <span class="navbar-text">
            Welcome, @Model.Auth.UserName
        </span>
        <span class="navbar-text">
            <a style="color: #00008b" class="nav-link" href="~/Account/Logout">| Logout</a>
        </span>
    </div>
</nav>
<table class="table table-striped-columns">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].RequiredDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].ShippedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Freight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].ShipAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Order)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequiredDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShippedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Freight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.ContactName)
                </td>
            </tr>
        }
    </tbody>
</table>
