@page
@model SignalRAssignment.Pages.Admin.Products.IndexModel

@{
    ViewData["Title"] = "Product Management";
}

<h1>Product Management</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link active" href="~/Admin/Orders">Order</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="~/Admin/Products">Product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="~/Admin/Member">Member</a>
            </li>
        </ul> 
    </div>
    <span class="navbar-text">
        Welcome, @Model.Auth.UserName
    </span>
    <span class="navbar-text">
        <a class="nav-link" href="~/Account/Logout">| Logout</a>
    </span>
</nav>
<div>
    <div class="float-left">
        <button style="margin-top: 20px; margin-bottom:20px" type="button" class="btn btn-success"><a style="color: #fff" asp-page="Create">Create New</a></button>
    </div>
    <div class="float-right" style="margin-top: 20px">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" asp-for="search" type="search" placeholder="Enter value.." aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].QuantityPerUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Supplier)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityPerUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.CompanyName)
            </td>
            <td>
                    <button type="button" class="btn btn-primary">
                        <a style="color: #fff" asp-page="./Edit" asp-route-id="@item.ProductId">Edit</a>
                    </button>
                    <button type="button" class="btn btn-info">
                        <a style="color: #fff" asp-page="./Details" asp-route-id="@item.ProductId">Details</a>
                    </button>
                    <button type="button" class="btn btn-danger">
                        <a style="color: #fff" asp-page="./Delete" asp-route-id="@item.ProductId">Delete</a>
                    </button>
            </td>
        </tr>
}
    </tbody>
</table>
