@page
@model SignalRAssignment.Pages.Admin.Member.IndexModel

@{
    ViewData["Title"] = "Member Management";
}

<h1>Member Management</h1>
<div id="content">
    <div id="content-left">
        <ul>
            <a href="~/Admin/Orders">
            <li>Orders</li></a>
            <a href="~/Admin/Products">
            <li>Products</li></a>
            <a href="~/Admin/Member">
            <li>Member</li></a>
        </ul>
    </div>
</div>
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Account) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @(item.Type.ToString() == "1" ? "Staff" : "Admin")
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AccountId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AccountId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AccountId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
