@page
@model SignalRAssignment.Pages.Admin.Orders.IndexModel

@{
    ViewData["Title"] = "Order Management";
}

<h1>Order Management</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="~/Admin/Orders">Order</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="~/Admin/Products">Product</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="~/Admin/Member">Member</a>
            </li>
        </ul>
    </div>
</nav>
<button style="margin-top: 20px; margin-bottom:20px" type="button" class="btn btn-success"><a style="color: #fff" asp-page="Create">Create New</a></button>
<table class="table table-striped-columns">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].RequiredDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].ShippedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Freight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].ShipAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Order) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequiredDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Freight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.ContactName)
            </td>
            <td>
                    <button type="button" class="btn btn-primary">
                        <a style="color: #fff" asp-page="./Edit" asp-route-id="@item.OrderId">Edit</a>
                    </button>
                    <button type="button" class="btn btn-info">
                        <a style="color: #fff" asp-page="./Details" asp-route-id="@item.OrderId">Details</a>
                    </button>
                    <button type="button" class="btn btn-danger">
                        <a style="color: #fff" asp-page="./Delete" asp-route-id="@item.OrderId">Delete</a>
                    </button>
            </td>
        </tr>
}
    </tbody>
</table>
